$background-color: #10141a;
$contrast-color: #273442;
$highlight-color: #c9d3c9;
$focus-color: rgb(162, 216, 162);
$font: 'Montserrat', sans-serif;

#bio {
  display: flex;
  justify-content: center;

  #backdrop {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: #c9d3c9;
    position: fixed;
    top: 10vh;
  }
  #summary {
    position: absolute;
    padding: 2em;
    width: 75vw;
    margin: auto;
    margin-top: 75vh;
    z-index: 1;
    border-radius: 25px;
    background: $background-color;
    box-shadow:  5px 5px 10px #121b24, 
                -5px -5px 10px #121b24;  
  }

  img {
    z-index: 1;
    margin-top: 10vh;
    height: 700px;
  }
}