$background-color: #10141a;
$contrast-color: #273442;
$highlight-color: #c9d3c9;
$focus-color: rgb(162, 216, 162);
$font: 'Montserrat', sans-serif;

#contact-info {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;

  a {
    color: $highlight-color;
    font-size: 1.25em;
    display: flex;
    align-items: center;
  }

  a > .MuiSvgIcon-root {
    width: 2em;
    height: 2em;
    padding-right: 1em;
    color: $highlight-color;
  }


}