$background-color: #10141a;
$contrast-color: #273442;
$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);

#contact-info {
  display: flex;
  flex-direction: column;
  height: 80vh;
  // align-items: center;

  #contact-container {
    margin: auto;

    h1 {
      color: $highlight-color;
      font-size: 5em;
    }

    a {
      color: $text-color;
      font-size: 2em;
      display: flex;
      align-items: center;
      padding: 0.25em;
  
      &:hover {
        color: $highlight-color;
  
        .MuiSvgIcon-root {
          color: $highlight-color;
        }
      }
    }
  
    a > .MuiSvgIcon-root {
      width: 2em;
      height: 2em;
      padding-right: 1em;
      color: $text-color;
    }
  }
}