// $background-color: #18232f;
$background-color: #10141a;
$contrast-color: #273442;
$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);
$focus-color: rgb(40, 215, 159);
$font: 'Montserrat', sans-serif;

#bio {
  display: flex;
  justify-content: flex-end;

  #bio-img-container {
    position: absolute;
    top: 20vh;
    left: 5vw;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    // opacity: 50%;

    // &:hover {
    //   opacity: 100%;
    // }
    
    #bio-profile-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: -20px -70px;
      // opacity: 10%;
      filter: inherit(10px);
      border-radius: 50%;
      background-color: $focus-color;

      // &:hover {
      //   background-color: $highlight-color;
      // }
    }
  }

  section {
    position: absolute;
    margin-top: 10vh;
    margin-right: 10vw;
    // z-index: 1;

    #summary {
      text-align: center;
      padding: 1em;
      border-radius: 25px;
      background: linear-gradient(225deg, #0e1217, #11151c);
      box-shadow:  -21px 21px 42px #0e1117, 
                  21px -21px 42px #12171d;
      font-size: 3em;
  
      span {
        color: $focus-color;
      }
    }

  
    #skills {
      // margin-top: 70vh;
      // margin-right: 2vw;
      padding: 2em;
      display: grid;
      grid-template-columns: 1fr;
      // grid-gap: 0.5em;
      width: 35vw;
  
      border-radius: 25px;
      background: linear-gradient(225deg, #0e1217, #11151c);
      box-shadow:  -21px 21px 42px #0e1117, 
                  21px -21px 42px #12171d;
    
      .container > h3 {
        color: $focus-color;
      }
    }
  }
}