$background-color: #10141a;
$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);
$focus-color: rgb(40, 215, 159);
$font: 'Montserrat', sans-serif;

#bio {
  display: grid;
  grid-template-columns: 1fr 2fr;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6vw;
    padding-right: 7vw;
  }

  .summary {
    padding: 0.5em;
    margin-top: 0;
    margin-bottom: 1vh;
    width: 100%;
    font-size: 2.5vw;

    span {
      color: $focus-color;
    }
  }

  #skills {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
    font-size: 1.5vw;
    grid-gap: 0;

    .container {
      h3 {
        color: $highlight-color;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
      p {
        margin: 0;
      }
    }
  }
}

#bio-img-container {
  margin-top: 15vh;
  margin-left: 4vw;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  border: 2px solid $focus-color;
  position: fixed;

  
  #bio-profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -1vw -4vw;
    border-radius: 50%;
    background-color: $background-color;
  }
}

// @media (max-width: 1125px) {
//   #bio-img-container {
//     width: 20em;
//     height: 20em;
//   }
// }

// Responsive view for mobile
@media (max-width: 750px) {
  #bio {
    grid-template-columns: 1fr;
    margin-top: 20em;
    overflow-x: hidden;

    section > .summary {
      font-size: 1.5em;
      margin-bottom: 2vh;
    }

    #skills {
      font-size: 1em;
    }
  }

  #bio-img-container {
    position: absolute;
    margin-top: 20vh;
    margin-right: 0;
    width: 20em;
    height: 20em;

    left: 45%;
    transform: translate(-50%, -50%);

    #bio-profile-pic {
      object-position: -1em -2em;
    }
    
  }  
}