// $background-color: #18232f;
$background-color: #10141a;
$contrast-color: #273442;
$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);
$focus-color: rgb(40, 215, 159);
$font: 'Montserrat', sans-serif;

#bio {
  display: grid;
  grid-template-columns: 1.25fr 2fr;
  height: 50vh;

  #bio-img-container {
    margin-top: 15vh;
    margin-left: 5vw;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    border: 2px solid $focus-color;

    &:hover {
      #bio-profile-pic {
        background-color: $focus-color;
      } 
    }
    
    #bio-profile-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: -1vw -4vw;
      border-radius: 50%;
      background-color: $background-color;
      transition: 5s;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    padding-left: 0;
    padding-top: 50vh;
    // margin-top: 5vh;

    height: 40%;
    overflow: scroll;
    }

    .summary {
      // text-align: center;
      padding: 0.5em;
      padding-bottom: 0;
      margin-bottom: 0;
      width: 100%;
      // border-radius: 25px;
      // background: linear-gradient(225deg, #0e1217, #11151c);
      // box-shadow:  -21px 21px 42px #0e1117, 
      //             21px -21px 42px #12171d;
      font-size: 2.5vw;
  
      span {
        color: $focus-color;
      }
  
    #skills {
      // margin-top: 70vh;
      // margin-right: 2vw;
      padding: 2em;
      display: grid;
      grid-template-columns: 1fr;
      // grid-gap: 0.5em;
      width: 35vw;
  
      // border-radius: 25px;
      // background: linear-gradient(225deg, #0e1217, #11151c);
      // box-shadow:  -21px 21px 42px #0e1117, 
      //             21px -21px 42px #12171d;
    
      .container > h3 {
        color: $focus-color;
      }
    }
  }
}