// $background-color: #18232f;
$background-color: #10141a;
$contrast-color: #273442;
$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);
$font: 'Montserrat', sans-serif;

html {
  background-color: $background-color;
  color: $text-color;
  font-family: $font;
  
  .transition {
    font-size: 3em;
    text-align: center;
    border-top: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  #sidebar {
    background-color: $text-color;
    height: 100%;
    width: 12vw;
    left: 0;
    position: absolute;
  }

  #img-container {
    position: absolute;
    top: 20vh;
    right: 10vw;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    // opacity: 50%;

    // &:hover {
    //   opacity: 100%;
    // }
    
    #profile-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: -20px -70px;
      // opacity: 10%;
      overflow: hidden;
      border-radius: 50%;
      background-color: $highlight-color;

      // &:hover {
      //   background-color: $highlight-color;
      // }
    }
  }

  #heading {
    top: 35vh;
    position: absolute;
    left: 10vw;
    color: $text-color;
    display: flex;
    flex-direction: column;
    width: 45vw;
    border-bottom: 2px solid $text-color;

    #name {
      font-size: 5em;
      color: $highlight-color;
    }
    #title {
      font-size: 3em;
    }
  }

  #view-bttn {
    position: absolute;
    z-index: 1;
    top: 60vh;
    left: 10vw;
    font-size: 3em;
    outline: none;
    color: $highlight-color;
  }

  .media-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    justify-content: center;
    
    a > .MuiSvgIcon-root {
      width: 1.5em;
      height: 1.5em;
      margin-right: 2vw;
      padding-top: 1em;
      color: $text-color;

      &:hover {
        color: $highlight-color;
      }
    }
  }

  footer {
    text-align: center;
    // margin-top: 1em;
    // margin-bottom: 1em;
    bottom: 0;
  }

}

