$background-color: #10141a;
$contrast-color: #273442;
$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);
$focus-color: rgb(40, 215, 159);
$font: 'Montserrat', sans-serif;

html {
  background-color: $background-color;
  color: $text-color;
  font-family: $font;

  body {
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    overflow: auto;
  }

  #heading {
    margin-left: 8vw;
    margin-top: 30vh;
  }

  .transitions-item {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5em;
    will-change: transform, opacity, height;
    white-space: nowrap;
    cursor: pointer;
    // line-height: 80px;
  }

  #view-container {
    display: flex;
    #view-bttn {
      position: absolute;
      z-index: 1;
      top: 55vh;
      left: 8vw;
      font-size: 4em;
      outline: none;
      text-decoration: none;
      color: $focus-color;
      opacity: 0;
      transition: opacity 2s;
      display: flex;
      align-items: center;
  
      .MuiSvgIcon-root {
        padding-left: 1em;
        width: 3em;
        height: 3em;
      }
    }
    #logo1 {
      position: absolute;
      top: 9em;
      right: 5vw;
      margin: 0;
      width: 35em;
    }
  }

  .hidden {
    visibility: hidden;
    position: absolute;
  }

  .media-icons {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 2vw;
    top: 25vh;
    z-index: 1;
    
    a > .MuiSvgIcon-root {
      width: 1.5em;
      height: 1.5em;
      padding-top: 1em;
      color: $text-color;

      &:hover {
        color: $focus-color;
      }
    }
  }

  #landing-container {
    height: 70vh;
  }

  #footer {
    position: fixed;
    bottom: 2vh;
    width: 100%;
    text-decoration: none;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;

    .MuiSvgIcon-root {
      padding-left: 0.5em;
      width: 1em;
      height: 1em;
    }

    &:hover {
      color: $focus-color;

      .MuiSvgIcon-root {
        color: $focus-color;
      }
    }
  }
}

@media (max-width: 695px) {
  #root > .media-icons {
    top: 95em;
  }
  
}

@media (max-width: 780px) {
  #root {
    .media-icons {
      display: none;
    }
    
    .hidden {
      visibility: visible;
      z-index: 1;
      img {
        width: 5em;
        filter: grayscale(100);
  
        &:hover {
          filter: grayscale(0);
        }
      }
      @media (max-width: 400px) {
        img {
          width: 4em;
        }
      }
    }
    #view-container > #logo1 {
      visibility: visible;
      display: flex;
      flex-direction: row;
      justify-content: center;
      // top: -2em !important;
      // right: 25% !important;
      // left: 20%;
      width: 25em !important ;
    }
    #heading {
      display: none;
    }
    #footer {
      display: none;
    }
  }
}

@media (max-width: 850px) {
  #heading {
    margin-left: 3vw !important;
  }
}

@media (max-width: 1050px) {
  #view-container > #logo1 {
    visibility: hidden;
  }
}

@media (max-width: 1350px) {
  .transitions-item {
    font-size: 4em !important;
  }
  #view-container > #view-bttn {
    font-size: 3em !important;
  }
}

@media (max-width: 1500px) {
  #view-container > #logo1 {
    top: 20vw !important;
    right: 10vw !important;
    width: 20vw !important ;
  }
}