// // $background-color: #18232f;
$background-color: #10141a;
$contrast-color: #273442;
$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);
$focus-color: rgb(40, 215, 159);
$font: 'Montserrat', sans-serif;

html {
  background-color: $background-color;
  color: $text-color;
  font-family: $font;

  body {
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    overflow: auto;
  }

  #root {
    // display: flex;
    // flex-direction: column;
    height: 100%;
    padding-bottom:60px;
  }

  #heading {
    // overflow: hidden;
    // position: relative;
    // width: 100%;
    // height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-left: 10vw;
    margin-top: 30vh;
  }

  // #root > #heading > div {
  //   width: 400px;
  // }

  .transitions-item {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5em;
    will-change: transform, opacity, height;
    white-space: nowrap;
    cursor: pointer;
    line-height: 80px;
  }
 
  #img-container {
    position: absolute;
    top: 20vh;
    right: 10vw;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    // opacity: 50%;

    // &:hover {
    //   opacity: 100%;
    // }
    
    #profile-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: -20px -70px;
      // opacity: 10%;
      overflow: hidden;
      border-radius: 50%;
      background-color: $highlight-color;

      // &:hover {
      //   background-color: $highlight-color;
      // }
    }
  }

  #view-bttn {
    position: absolute;
    z-index: 1;
    top: 55vh;
    left: 10vw;
    font-size: 4em;
    outline: none;
    text-decoration: none;
    color: $focus-color;
    opacity: 0;
    transition: opacity 2s;
    display: flex;
    align-items: center;

    .MuiSvgIcon-root {
      padding-left: 1em;
      width: 3em;
      height: 3em;
    }
  }

  .media-icons {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 2vw;
    top: 25vh;
    z-index: 1;
    
    a > .MuiSvgIcon-root {
      width: 1.5em;
      height: 1.5em;
      padding-top: 1em;
      color: $text-color;

      &:hover {
        color: $focus-color;
      }
    }
  }

  #footer {
    position: fixed;
    bottom:0;
    width: 100%;
    text-decoration: none;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;

    .MuiSvgIcon-root {
      padding-left: 0.5em;
    }

    &:hover {
      color: $focus-color;

      .MuiSvgIcon-root {
        color: $focus-color;
      }
    }
  }
}



