// // $background-color: #18232f;
$background-color: #10141a;
$contrast-color: #273442;
$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);
$focus-color: rgb(40, 215, 159);
$font: 'Montserrat', sans-serif;

html {
  background-color: $background-color;
  color: $text-color;
  font-family: $font;

  body {
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  }

  #heading {
    // overflow: hidden;
    // position: relative;
    // width: 100%;
    // height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-left: 10vw;
    margin-top: 30vh;
   
    width: 50%;
  }

  // #root > #heading > div {
  //   width: 400px;
  // }

  .transitions-item {
    overflow: hidden;


    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5em;

    will-change: transform, opacity, height;
    white-space: nowrap;
    cursor: pointer;
    line-height: 80px;
  }
 
  

  #img-container {
    position: absolute;
    top: 20vh;
    right: 10vw;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    // opacity: 50%;

    // &:hover {
    //   opacity: 100%;
    // }
    
    #profile-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: -20px -70px;
      // opacity: 10%;
      overflow: hidden;
      border-radius: 50%;
      background-color: $highlight-color;

      // &:hover {
      //   background-color: $highlight-color;
      // }
    }
  }

  #view-bttn {
    position: absolute;
    z-index: 1;
    top: 60vh;
    left: 10vw;
    font-size: 3em;
    outline: none;
    color: $highlight-color;
  }

  .media-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    justify-content: center;
    // margin-top: 10vh;
    
    a > .MuiSvgIcon-root {
      width: 1.5em;
      height: 1.5em;
      margin-right: 2vw;
      padding-top: 1em;
      color: $text-color;

      &:hover {
        color: $highlight-color;
      }
    }
  }

  // footer {
  //   text-align: center;
  //   // margin-top: 1em;
  //   // margin-bottom: 1em;
  //   bottom: 0;
  // }
}



