// $background-color: #18232f;
$background-color: #10141a;
$contrast-color: #273442;
$highlight-color: #c9d3c9;
$focus-color: rgb(162, 216, 162);
$font: 'Montserrat', sans-serif;

html {
  background-color: $background-color;
  color: white;
  font-family: $font;
  
  .transition {
    font-size: 3em;
    text-align: center;
    border-top: 2px solid $highlight-color;
    border-bottom: 2px solid $highlight-color;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  #sidebar {
    background-color: $background-color;
    height: 100%;
    width: 12vw;
    left: 0;
    position: absolute;
  }

  #profile-pic {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 10%;
  }

  #heading {
    top: 35vh;
    position: absolute;
    left: 15vw;
    color: $highlight-color;
    display: flex;
    flex-direction: column;
    width: 25vw;
    border-bottom: 2px solid $highlight-color;

    #name {
      font-size: 3em;
      color: $focus-color;
    }
    #title {
      font-size: 2em;
    }
  }

  .bttn-stretch.bttn-md {
    position: absolute;
    z-index: 1;
    top: 50vh;
    left: 25vw;
    width: 15vw;
    font-size: 2em;
    outline: none;
    color: $focus-color;
  }

  footer {
    text-align: center;
    // margin-top: 1em;
    // margin-bottom: 1em;
    bottom: 0;
  }
}

