$background-color: #18232f;
$contrast-color: #273442;
$highlight-color: #c9d3c9;
$font: 'Montserrat', sans-serif;

html {
  background-color: $background-color;
  color: white;
  font-family: $font;
  
  .landing {
    font-size: 3em;
    text-align: center;
    border-top: 2px solid $highlight-color;
    border-bottom: 2px solid $highlight-color;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  #sidebar {
    background-color: $highlight-color;
    height: 100%;
    width: 12vw;
    left: 0;
    position: absolute;
  }

  #profile-pic {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 10%;
  }

  #heading {
    top: 35vh;
    position: absolute;
    left: 20vw;
  }

}

