// // $background-color: #18232f;
$background-color: #10141a;
$contrast-color: #273442;
$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);
$focus-color: rgb(40, 215, 159);
$font: 'Montserrat', sans-serif;

html {
  background-color: $background-color;
  color: $text-color;
  font-family: $font;

  body {
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    overflow: auto;
  }

  #heading {
    margin-left: 10vw;
    margin-top: 30vh;
  }

  .transitions-item {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5em;
    will-change: transform, opacity, height;
    white-space: nowrap;
    cursor: pointer;
    line-height: 80px;
  }

  #view-bttn {
    position: absolute;
    z-index: 1;
    top: 55vh;
    left: 10vw;
    font-size: 4em;
    outline: none;
    text-decoration: none;
    color: $focus-color;
    opacity: 0;
    transition: opacity 2s;
    display: flex;
    align-items: center;

    .MuiSvgIcon-root {
      padding-left: 1em;
      width: 3em;
      height: 3em;
    }
  }

  .media-icons {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 2vw;
    top: 25vh;
    z-index: 1;
    
    a > .MuiSvgIcon-root {
      width: 1.5em;
      height: 1.5em;
      padding-top: 1em;
      color: $text-color;

      &:hover {
        color: $focus-color;
      }
    }
  }

  #landing-container {
    height: 70vh;
  }

  #footer {
    position: fixed;
    bottom: 2vh;
    width: 100%;
    text-decoration: none;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25vw;

    .MuiSvgIcon-root {
      padding-left: 0.5em;
      width: 1.75vw;
      height: 1.75vw;
    }

    &:hover {
      color: $focus-color;

      .MuiSvgIcon-root {
        color: $focus-color;
      }
    }
  }
}



