$background-color: #10141a;
$contrast-color: #273442;
$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);
$focus-color: rgb(40, 215, 159);
$font: 'Montserrat', sans-serif;

nav {
  top: 2vh;
  position: fixed;
  display: flex;

  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1;

  #left-nav {
    margin-left: 2vw;
    display: flex;
    align-items: center;

    #logo2 {
      font-family: $font;
      font-size: 2.5em;
      color: $text-color;
      text-decoration: none;
      border-bottom: 2px solid $focus-color;

      &:hover {
        color: $focus-color;
      }
    }
  }

  #right-nav {
    margin-right: 2vw;

    .nav-item {
      font-family: $font;
      font-size: 1.5em;
      color: $text-color;
      text-decoration: none;
      margin-left: 2em;
      
      &:hover {
        color: $focus-color;
      }
    }

    .is-selected {
      color: $focus-color;
    }
  }
}

