$background-color: #10141a;
$contrast-color: #273442;
$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);
$font: 'Montserrat', sans-serif;

#projects {
  margin-top: 10vh;

  #project-tl {
    display: flex;
    flex-direction: row;
    background-color: $background-color;
  
    .tl-item {
      width: 100%;
      height: 20vh;
      min-height: 200px;
  
      &:before {
        background: linear-gradient(to left, $highlight-color 0%, $background-color 100%);
        transform: translate3d(0, 0, 0) translateX(-50%);
      }
  
      &:hover {
        width: 100% !important;
        height: 100% !important;
  
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0) translateX(0);
          transition: opacity 1s ease, transform 1s ease 0.25s;
        }
        
        .tl-content {
          opacity: 1;
          transform: translateX(0);
          transition: all 0.75s ease 0.5s;
        }

        .line-container > .project-img-container > .project-img {
          opacity: 90%;
        }

        .tl-bg {
          .tl-bg-img {
            opacity: 0;
          }
        }
      }

      .line-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;

        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: start;
  
          .tl-header {
            left: 15vw;
            font-size: 1.5em;
          }
    
          .tl-content {
            transform: translate3d(0, 0, 0) translateX(-25px);
            position: relative;
            margin-top: 5vh;
          
            // display: flex;
            // flex-direction: column;
            // align-items: flex-start;
          }
        }
  
        .project-img-container > .project-img {
          width: 100%;
          height: 100%;
          opacity: 0%;
        }
      }
  
      .tl-bg > .tl-bg-img {
        opacity: 50%;
      }
    }
  }
}  
