$background-color: #10141a;
$contrast-color: #273442;
$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);
$font: 'Montserrat', sans-serif;

#projects {
  margin-top: 10vh;

  #project-tl {
    display: flex;
    flex-direction: row;
    background-color: $background-color;
  
    .tl-item {
      width: 100%;
      height: 20vh;
      min-height: 200px;
  
      &:before {
        background: linear-gradient(to left, $highlight-color 0%, $background-color 100%);
        transform: translate3d(0, 0, 0) translateX(-50%);
      }
  
      &:hover {
        width: 100% !important;
        height: 100% !important;
  
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0) translateX(0);
          transition: opacity 1s ease, transform 1s ease 0.25s;
        }

        .line-container > .text-container {
          height: min-content;
      
          .tl-content {
            opacity: 1;
            transform: translateX(0);
            transition: all 0.75s ease 0.5s;
          }
        }
        
        .line-container > .project-img-container > .project-img {
          opacity: 90%;
        }

        .tl-bg {
          .tl-bg-img {
            opacity: 0;
          }
        }
      }

      .line-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        // max-height: min-content;
        align-items: center;

        .text-container {
          height: min-content;
          margin-left: 10vw;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          .tl-header {
            position: relative;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 2.5em;
            color: $highlight-color;
            border-top: none;
            border-bottom: none;
          }

          .tl-content {
            transform: translate3d(0, 0, 0) translateX(0);
            text-align: start;
            font-size: 1.5em;

            .project-icons {
              display: flex;
              align-items: center;

              a {
                margin-right: 1em;
                font-size: 1em;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                
                
              }

              .bttn-stretch.bttn-success {
                color: $text-color;

                &:hover {
                  color: $highlight-color;

                  .MuiSvgIcon-root {
                    color: $highlight-color;
                  }
                }
              }

              img{
                width: 2em;
                height: 2em;
                padding-left: 1em;
              }

              .MuiSvgIcon-root {
                width: 2em;
                height: 2em;
                color: $text-color;
                padding-left: 1em;
                padding-right: 4em;
              }
            }
          }

          
        }

        .project-img-container {
          width: 100%;
          height: 100%;

          .project-img {
            width: 100%;
            height: 100%;
            opacity: 0%;
          }
        }
      }
  
      .tl-bg > .tl-bg-img {
        opacity: 50%;
      }
    }
  }
}  
