$text-color: #c9d3c9;
$highlight-color: rgb(162, 216, 162);
$focus-color: rgb(40, 215, 159);

#resume {
  display: flex;
  justify-content: center;
  align-items: center;

  #cv {
    height: 85vh;
    transition: height 2s;
    margin: 4em;
    margin-top: 10vh;

    &:hover {
      height: 125vh;
    }
  }

  .cv-bttn {
    width: auto;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    .MuiSvgIcon-root {
      margin-left: 1em;
      width: 2em;
      height: 2em;
    }
  }

  #download {
    color: $focus-color;
  }

  #canva {
    color: $text-color;
  }
}

// Responsive viewport adjustments
@media (max-width: 550px) {
  #cv {
    height: 450px !important;

    &:hover {
      height: 450px !important;
    }
  }

  #download {
    margin-top: 75vh;
    margin-left: 0 !important;
  }

  #canva {
    margin-right: 0 !important;
  }
}

@media (max-width: 780px) {
  #root > #route-animations {
    height: 100% !important;
  }
  #cv {
    margin: 5em !important;
  }
  .cv-bttn {
    top: 3em !important;
  }
}

@media (max-width: 1050px) {
  #resume {
    #cv {
      height: 700px;
      margin-left: 0.5em;
      margin-right: 0.5em;
      margin-top: 12em;
  
      &:hover {
        height: 85vh;
      }
    }

    .cv-bttn {
      position: absolute;
      top: 6em;
    }
    #canva {
      margin-right: 50vw;
    }
    #download {
      margin-left: 50vw;
    }
  }
}

@media (max-width: 1430px) {
  #resume {
    #cv {
      margin-left: 2em;
      margin-right: 2em;
  
      &:hover {
        height: 100vh;
      }
    }

    .cv-bttn {
      font-size: 1.25em;

      .MuiSvgIcon-root {
        margin-left: 0;
      }
    }
  }
}