$text-color: white;
$highlight-color: rgb(162, 216, 162);
$focus-color: rgb(40, 215, 159);

#resume {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  #cv {
    height: 85vh;
    transition: height 2s;
    margin-top: 10vh;

    &:hover {
      height: 125vh;
    }
  }

    .cv-bttn {
      width: auto;
      font-size: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
  
      .MuiSvgIcon-root {
        margin-left: 1em;
        width: 2em;
        height: 2em;
      }
    }

    #download {
      color: $focus-color;
    }
    #canva {
      color: $text-color;
    }
}

// Responsive viewport adjustments
@media (max-width: 550px) {
  #cv {
    margin-bottom: 15em !important;
  }
  #download {
    margin-bottom: 5vh !important;
    margin-left: 0 !important;
  }

  #canva {
    margin-bottom: 15vh !important;
    margin-right: 0 !important;
  }
}

@media (max-width: 780px) {
  #resume { 
    height: 100vh !important;
  }
  #cv {
    height: 55vh !important;
    margin-top: 0 !important;
    margin-bottom: 8em;

    &:hover {
      height: 55vh !important;
    }
  }
  .cv-bttn {
    bottom: 3em !important;
    font-size: 1em !important;
  }
}

@media (max-width: 1050px) {
  #resume {
    #cv {
      height: 700px;
      margin-left: 0.5em;
      margin-right: 0.5em;
  
      &:hover {
        height: 85vh;
      }
    }
    .cv-bttn {
      position: absolute;
      bottom: -4em;
    }
    #canva {
      margin-right: 15em;
    }
    #download {
      margin-left: 15em;
    }
  }
}

@media (max-width: 1450px) {
  #resume > #cv:hover {
    height: 100vh;
  }
  .cv-bttn {
    font-size: 1.25em;

    .MuiSvgIcon-root {
      margin-left: 0;
    }
  }
}